.ellipsis {
    overflow: hidden;
}

.ellipsis > * {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Con esta clase se hacen los 3 puntitos, para que no se hagan diferentes lineas */