.header{
    display: flex;
    gap: 1rem;
    padding-inline-start: 1.5rem;
    padding-inline-end: 1.5rem;
    padding-block-start: 1rem;
    padding-block-end: 1rem;
    align-items: center;
    backdrop-filter: blur(3px);
    /* Para disfuminar el fondo del header */
}

/* Condicionales para cuando no hay soporte en algun navegador. Si no soporta lo que esta dentro del parentesis, se ejecutara lo que essta dentro de las llaves
@supports not(backdrop-filter: blur(3px)) {
    background: var(--gray50);
}

Esto no afectara el navegador que si lo soporte, significa que no se sobrescribira */